
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h2 class="text-center mb-4">About Us</h2>
            <p>
                Welcome to our website! We are dedicated to providing high-quality products and services to our customers.
            </p>
            <p>
                Our team consists of experienced professionals who are passionate about what they do. We strive to
                exceed our customers' expectations and deliver exceptional value.
            </p>
            <p>
                Whether you are a new visitor or a returning customer, we appreciate your trust in us. Feel free to
                explore our website and discover the range of products and services we offer.
            </p>
            <h4 class="mt-4">Our Mission</h4>
            <p>
                Our mission is to [insert your mission statement here]. We aim to [describe your goals and values].
            </p>
            <h4 class="mt-4">Contact Information</h4>
            <p>
                If you have any questions or concerns, please don't hesitate to contact us. We value your feedback and
                are here to assist you.
            </p>
            <ul class="list-unstyled">
                <li><strong>Email:</strong> info@example.com</li>
                <li><strong>Phone:</strong> (123) 456-7890</li>
                <li><strong>Address:</strong> 123 Main Street, Cityville, State, 12345</li>
            </ul>
            <h4 class="mt-4">Follow Us</h4>
            <p>Stay connected with us on social media for the latest updates and promotions:</p>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
                <li class="list-inline-item"><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                <li class="list-inline-item"><a href="#" target="_blank"><i class="fa fa-instagram"></i></a></li>
            </ul>
        </div>
    </div>
</div>

